
.ProjectPage {
    /* border: solid 5px green; */
    /* background-color: pink; */
    min-height: 90vh;
}


.curved {
    /* background-color: #ff3c00; */
    color: #0499F5;
    text-align: center;
}

.curved h1 {
    font-size: 6rem;
}

.curved p {
    font-size: 1 rem;
}

.curved svg {
    display: block;
    
}
.Project-Names {
    /* background-color: red; */
    position: relative;
    display: block;
    background-color: #0499F5;
    margin-top: 0 ;
    height: 38vh;
    color: black;
    
}

.Project-Names div {
    font-size: 6rem;
}


