
.ProjectPage {
    /* border: solid 5px green; */
    /* background-color: pink; */
    min-height: 90vh;
}


.curved {
    /* background-color: #ff3c00; */
    color: #0499F5;
    text-align: center;
}

.curved h1 {
    font-size: 6rem;
}

.curved p {
    font-size: 1 rem;
}

.curved svg {
    display: block;
    
}
.svg {
    position: absolute;
    bottom: 0;
    /* width: 100%; */
    /* height: 2.5rem;        */
}
.Project-Names {
    display: block;
    margin-top: 0 ;
    height: 10vh;
    color: black;
    
}


