
.TechStack {
    /* display: ; */
    width:80%;
}

.TechStack h3 {
    font-size: 1.5rem;
    color: #6A94AD;
    margin-top: 50px;
}

.Front {
    margin: 10px;
    /* border: 2px solid black; */
    height: 10vh;
    display: flex;
    justify-content: center;

}

.stack svg {
    height: 5rem;
    width: 5rem;
    margin: 10px;
}
.stack img {
    height: 5rem;
    width: 5rem;
    margin: 10px;
}