.ProfilePic {
    display: flex;
    justify-content: center;
    background-color: #e8ecf2;
    color: #73787d;
    border-radius: 99px;
    border: 0px;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.8),
     5px 5px 10px rgba(0, 0, 0, 0.25);
}