.Nav {
    display: flex;
    justify-content: space-between;
}

.App-header {
    background-color: #e8ecf2;
    max-height: 10vh;
    width: 100 vw;
    display: flex;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-header a {
    color: #73787d;
  }

.Nav-flex-end {
    font-size: calc(10px + 2vmin);
    display: flex;
    align-items: center;
    gap: 5px;
    color: #73787d;
}

.Nav-flex-end a {
    color: #73787d;

}