.Nav {
    display: flex;
    justify-content: space-between;
    background-color: #466576;
}

.App-header {
    /* background-color: #e8ecf2; */
    max-height: 10vh;
    width: 100 vw;
    display: flex;
    align-items: center;
    font-size: calc(10px + 2vmin);
    margin-left: 30px;
}

.App-header a {
    color: #e8ecf2;
  }

.Nav-flex-end {
    font-size: 3.5vmin;
    display: flex;
    align-items: center;
    gap: 2rem;
    color: #e8ecf2;
    margin-right: 30px;
}

.Nav-flex-end a {
    color: #e8ecf2;

}