.button__bar {
    display: inline-block;
    vertical-align: middle;
    margin: auto;
    padding: 0;
    border-radius: 40px;
    width: 30vw;
    text-align: center;
    margin-top: -110px;
}

.button__bar li {
    list-style: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 3px;
    padding: 0;
  }
  
  .button__bar li button {
    border: none;
    background: #a53692;
    color: transparent;
    cursor: pointer;
    display: block;
    height: 55px;
    width: 75px;
    border-radius: 7.5px;
  }
  
  .button__bar li.slick-active button {
    background-color: rgb(8, 255, 140);
  }
  
  .button__bar li button:hover
  {
    background: rgba(247, 34, 34, 0.8);
    outline: 0;
  }
  
  .slick-slide img {
    border: 5px solid #fff;
    display: block;
    margin: auto;
  }
  
  .lorem {
    margin-top: -100px;
  }